[user]
	name = Li Chao
	email = clouds@isrc.iscas.ac.cn
[alias]
	ci = commit -s
  co = checkout
  br = branch
  lg = log --stat --graph --decorate --all
[push]
	default = simple
[color]
	ui = auto
[core]
	askpass = git-gui--askpass
[credential]
	helper = cache
